.header{
  background-image: linear-gradient(to right, #6D0D8D, #A20BAA);
  color: white;
}

/* body {
  background-color: #eee;
  padding-top: 5%;
  padding-bottom: 10%;
}

.containers {
  margin-right: 4%;
  margin-left: 4%;
}

li {
  padding-bottom: 10px;
}

.collapsible li {
  padding-top: 10px;
  background-color: orange;
  padding-bottom: 0;
}

.collapsible-body {
  background-color: #546e7a;
}

.collapsible-header {
  color: orange;
  font-size: 14pt;
}

.card-title {
  font-weight: bold;
} */
