a{
    color: white !important;
    font-size: 24px;
    text-align: left !important;
    margin-left: 10px;
}

i{
    margin-right: 10px;
}

#codeSchool{
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: 250px;
    height: 50px;
}

.header{
    background-image: linear-gradient(to right, #0068ff, #00bcff);
    color: white;
    text-align: center;
    padding-bottom: 100px !important;
}

.back{
    /* margin-top: 15px; */
    text-align: left;
}

.title{
    margin-top: 50px !important;
}

.info{
    background-color: white !important;
    margin-left: auto !important;
    margin-right: auto !important;
    width: 50%;
    height: 350px;
    margin-top: -80px !important;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 10px;
}

.btns{
    margin-top: 50px;
}

.btns a{
    background-image: linear-gradient(to right, #0068ff, #00bcff);
    color: white;
    border-radius: 80px;
    padding: 10px;
    font-size: 20px;
    margin-bottom: -10px;
}